.add_button{
    background-color: transparent;
    padding: 10px 20px;
    font-size: 1.5rem;
    position: absolute;
    top: 5vh;
    left: 5vw;
}
.blue{
    background-color: lightblue;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5vw;
    top: 15vh;
    border-radius: 30px;
    display: none;
}
.pink{
    background-color: rgb(246, 226, 229);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5vw;
    top: 25vh;
    border-radius: 30px;
    display: none;
}
.outer{
     border: 1px solid black;
     margin-left: 15vw;
     margin-right: 15vw;
     margin-top: 5vh;
     display: flex;
     flex-wrap: wrap;
}
.container textarea{
   height: 20vh;
   width: 18vw;
}